﻿@model ConsumerTest.Models.CheckOutInfoViewModel

@{
    ViewData["Title"] = "Receive Payment information";
}
<h1>@ViewData["Title"]</h1>

@if (@Model != null)
{
    <script type="text/javascript">
        window.open(@Model.CheckoutUrl)
    </script>
}