﻿
@{
    ViewData["Title"] = "Test Payment";
}
<script>
    const payWithMoMo = async () => {

        const amount = parseFloat(document.getElementsByName('amount')[0].value);
        const orderId = document.getElementsByName('orderInfo')[0].value;
        const returnUrl = "https://localhost:44339/Home/ReceivePaymentInfo";

        if (!amount || !orderId) {
            alert("Required information: amount and order");
            return;
        }

        const requestData = {
            orderInfo: { amount, orderId },
            returnUrl
        };

        const response = await fetch('MoMo', {
            method: 'POST',
            body: JSON.stringify(requestData),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const paymentResponse = await response.json();
        console.log(paymentResponse);
        window.open(paymentResponse.checkoutUrl);
    }

    const payWithAlepay = async () => {
        const amount = parseFloat(document.getElementsByName('amount')[0].value);
        const orderId = document.getElementsByName('orderInfo')[0].value;
        if (!amount || !orderId) {
            alert("Required information: amount and order");
            return;
        }

        const requestData = {
            orderInfo: {
                amount: amount,
                orderId: orderId,
                buyerAddress: "123 Truong Dinh",
                buyerCity: "HCM",
                buyerCountry: "VN",
                buyerEmail: "t@gmai.com",
                buyerName: "Nguyễn Văn Bê",
                buyerPhone: "0999999999",
                currency: "VND",
                orderDescription: "Mua ai phone 12",
                totalItems: 1
            },
            returnUrl: "https://localhost:44339/Home/ReceivePaymentInfo"
        };

        const response = await fetch('Alepay', {
            method: 'POST',
            body: JSON.stringify(requestData),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const paymentResponse = await response.json();
        if (paymentResponse) {
            console.log(paymentResponse);
            window.open(paymentResponse.checkoutUrl);
        }
    }
</script>
<h1>Test Payment</h1>

<form>
    <div class="form-group col-12 form_style">
        <label>Amount</label>
        <input type="text" class="form-control" name="amount" value="9999000">
    </div>

    <div class="form-group col-12 form_style">
        <label>Order info</label>
        <input type="text" class="form-control" name="orderInfo" value="Ipad Air">
    </div>

    <div class="col-sm-12 col-lg-12 ">
        <div class="button_form padding-10">
            <button class="btn_focus" type="button" onclick="payWithMoMo()">
                <i class="fa fa-search"></i>Pay with MoMo
            </button>
        </div>
    </div>

    <div class="col-sm-12 col-lg-12 ">
        <div class="button_form padding-10">
            <button class="btn_focus" type="button" onclick="payWithAlepay()">
                <i class="fa fa-search"></i>Pay with Alepay
            </button>
        </div>
    </div>

</form>
